@import url(https://fonts.googleapis.com/css?family=Raleway:300);

h1, h2, h3, h4, p, label, li {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
}

.info {
  color: #CCFF66;
}

.title {
  color: #CCCCCC;
}

body {
  margin: 20px;
  padding: 10px;
  background-color: #292929;
}

.img {
  margin-bottom:20px;
  padding:10px; 
  text-align:center;
  box-sizing:border-box;
}

img {
  max-height:100%;
  max-width:100%;
  cursor:pointer;
}
.container  {
  width:90%;
  margin-left:5%;
}

.playing {
  -webkit-filter: invert(0.8);
  transition: all 500ms ease-in-out;
}

.default {
  transition: all 500ms ease-in-out;
}

#intro {
  color: white;
}


p.bar {
  text-align: center;
  vertical-align: middle;
}

td {
  padding: 20px;
  vertical-align: top;
}
